<!--<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Welcome ... to the Lottery Generator</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 10%;">
    <div style="width: 4%;">
        
        <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="btn btn-outline-secondary person-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-person person-icon"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu drop-down" aria-labelledby="dropdownMenuButton">
              <a ngbDropdownItem class="dropdown-item" (click)="logoutUser()">Logout</a>
            </div>
          </div>
          
    </div>
    <div style="width: 26%;">
        <a class="navbar-brand" style="margin-left: 10px;">{{currentUser.first_name}} {{currentUser.last_name}}</a>
    </div>
    <div class="headline-container" style="width: 40%;">
        <a class="navbar-brand" style="margin-left: 10px;">Welcome {{currentUser.first_name}} to the Lottery Genertator</a>
    </div>
    
    <div style="width: 30%;">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <!--<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">My Numbers <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>-->
          <form class="form-inline my-2 my-lg-0 search-form">
            <input *ngIf="searchFunctionAvailable" class="form-control mr-sm-2 input-field" type="search" placeholder="Search" aria-label="Search">
            <button *ngIf="searchFunctionAvailable" class="btn btn-outline-secondary search-button" type="submit">Search</button>
          </form>
        </div>
    </div>
  
  </nav>